.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

footer {
  text-align: center;
}

.fab {
  padding-right: 5px;
}

#run-search {
  margin-right: 1%;
}

.btn-secondary {
  background-color: #444444;
}

.table td,
.table th {
  padding: 0rem;
}

canvas {
  width: 100px;
  height: 100px;
}
